body {
	color: #fff;
}

select {
	color: #333;
}
.good {
	background-color: #008800;
}

.evil {
	background-color: #880000;
}

h1 {
	text-align: center;
}

.kitty-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: none;
	z-index: 5000;
}

.kitty-image {
	position: absolute;
	max-width: 100px;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(36000deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(36000deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(36000deg);
		transform: rotate(36000deg);
	}
}

.kitty-rotate {
	-webkit-animation: spin 360s linear infinite;
	-moz-animation: spin 360s linear infinite;
	animation: spin 360s linear infinite;
}
